/* global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  color: #636363;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}
.container {
  max-width: 1199px;
  margin: auto;
}
/* gardient button */
.btn__gadient button {
  padding: 20px 35px;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 500;
  color: #fff;
  border-radius: 30px;
  border: 1px solid transparent;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  transition: all 0.5s;
}
.btn__gadient:hover button {
  background-position: right center;
}

/* title group 1 */
.title__group1 p:nth-of-type(1) {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
}
.title__group1 h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.title__group1 p:nth-of-type(2) {
  font-size: 18px;
  margin-bottom: 15px;
}
.title__group1 li {
  list-style: none;
  padding: 10px 5px 10px 0;
  font-size: 20px;
}
.title__group1 ul {
  margin-bottom: 20px;
}

/* title group 2 */
.title__group2 p {
  font-size: 22px;
  color: #f55f8d;
  font-weight: 600;
  margin-bottom: 20px;
}
.title__group2 h2 {
  font-size: 70px;
  color: #262626;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 20px;
}
/* start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__content,
.header__menu,
.header__menu ul {
  display: flex;
  align-items: center;
}
.header__content {
  justify-content: space-between;
}
.header__content .header__menu ul {
  margin-right: 30px;
}
.header__content .header__menu li {
  list-style: none;
  padding: 55px 15px;
}
.header__content .header__menu a {
  color: #070120;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
  transition: all 0.5s;
}
.header__content .header__menu li:hover a {
  color: #f55f8d;
}
.header__content .header__menu span {
  display: inline-block;
}
.header__content .header__menu li:hover span {
  animation: header-menuAnimate 0.3s;
}
@keyframes header-menuAnimate {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
.header__content .header__menu i {
  font-size: 9px;
  margin-top: -3px;
  vertical-align: middle;
}
/* end header */

/* start carousel */
.carousel {
  padding-top: 180px;
  background-image: url(../img/pic2.png);
  background-position: top;
  background-size: 100%;
  overflow: hidden;
}
.carousel__content {
  display: flex;
  align-items: center;
}
.carousel__left {
  width: 60%;
}
.carousel__left .title__group1 {
  width: 100%;
  height: 100%;
}
.carousel__content .title__group1 i {
  width: 35px;
  height: 35px;
  font-weight: 900;
  text-align: center;
  line-height: 35px;
  font-size: 24px;
  color: #fff;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200px;
  border-radius: 50%;
  margin-right: 10px;
}
.carousel__right {
  width: 40%;
}
.carousel__right .carousel__banner {
  width: 100%;
  height: 100%;
}
.carousel__right .carousel__banner img {
  display: block;
  margin-left: 80px;
}
/* end carousel */

/* start service */
.service {
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.service__content {
  padding-top: 115px;
}
.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  gap: 30px;
}
.service__list .service__item {
  padding: 30px 45px;
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  transition: all 0.5s;
}
.service__list .service__item:hover {
  transform: translateY(-20px);
}
.service__list .service__item img {
  width: 215px;
}
.service__list .service__item h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
  margin: 15px 0;
}
/* end service */

/* start about */
.about {
  background-image: url(../img/bg15.png);
  background-size: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  padding-bottom: 85px;
  overflow: hidden;
}
.about__content {
  display: flex;
  align-items: center;
  padding-top: 115px;
  position: relative;
}
.about__content .about__left {
  width: 60%;
  position: absolute;
  left: -17%;
}
.about__content .about__left img {
  width: 100%;
  border-radius: 0 100px 100px 0;
}
.about__content .about__right {
  width: 50%;
}
.about__content .about__right .title__group1 {
  transform: translateX(100%);
}
.about__content .about__right .title__group1 p:nth-of-type(2) {
  font-size: 16px;
}
.about__content .about__right .title__group1 i,
span {
  display: inline-block;
}
.about__content .about__right .title__group1 li {
  padding: 0;
}
.about__content .about__right .title__group1 i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}
.about__content .about__right .title__group1 span {
  font-size: 16px;
  line-height: normal;
}
/* end about */

/* start number */
.number {
  background-image: url(../img/bg14.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 0 50px;
}
.number__content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.number__content .number__item i {
  font-size: 45px;
  color: #fff;
  display: inline-block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  margin-bottom: 15px;
}
.number__content .number__item {
  width: 25%;
}
.number__content .number__item p:first-of-type {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
  line-height: 1;
}
.number__content .number__item p:last-of-type {
  color: #262626;
  font-size: 18px;
}
/* end number */

/* start feature */
.feature {
  background-image: url(../img/bg2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.feature__content .feature__left {
  width: 50%;
}
.feature__content {
  display: flex;
  padding-top: 115px;
}
.feature__content .feature__item {
  padding: 0 50px 30px 0;
}
.feature__content .feature__item:nth-of-type(2) {
  padding: 0 0 30px 50px;
}
/* demo hover */
.feature__content .item__container {
  display: flex;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  overflow: hidden;
  position: relative;
}
.feature__content .item__container::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  opacity: 0;
  background-size: 200%;

  transition: all 1s;
}
.feature__item .item__container:hover::after {
  opacity: 1;
}
.feature__content .feature__item i {
  font-size: 80px;
  line-height: 1;
  color: #f55f8d;
  z-index: 1;
  transition: all 1s;
}
.feature__item:hover i {
  color: #fff;
}
.feature__item .item__content {
  padding-left: 25px;
  z-index: 1;
  transition: all 1s;
}
.feature__item:hover .item__content {
  color: #fff;
}
.feature__content .feature__item h3 {
  font-weight: 800;
  color: #262626;
  font-size: 1.5rem;
  transition: all 1s;
}
.feature__item:hover h3 {
  color: #fff;
}
/* demo hover */

.feature__content .feature__right {
  width: 50%;
}
.feature__content .feature__banner {
  margin-right: -80px;
}
.feature__content .feature__banner img {
  max-width: 100%;
  overflow: hidden;
  animation: animateFeature__banner-right 5s infinite;
}
@keyframes animateFeature__banner-right {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }

  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }

  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/*end feature */

/* start portfolio */
.portfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.portfolio__content {
  padding-top: 115px;
}
.portfolio__picture {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.portfolio__content .item1 {
  grid-column: 1 / span 2;
}
.portfolio__content .item5 {
  grid-column: 1 / span 2;
}
.portfolio__content .item6 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}
.portfolio__content .portfolio__item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.portfolio__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transition: all 0.75s;
  transform: skewX(-25deg);
}
.portfolio__item:hover::before {
  left: 125%;
}
.portfolio__content .portfolio__item img {
  width: 100%;
  height: 100%;
}
.portfolio__content .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.portfolio__item:hover .overlay {
  opacity: 1;
}
.portfolio__content .overlay .plus {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 28px;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 10px;

  transition: all 0.75s;
}
.portfolio__item:hover .plus {
  transform: translate(-20px, 20px);
  cursor: pointer;
}
.portfolio__content .overlay .text {
  position: absolute;
  bottom: 0px;
  left: 30px;
  text-align: left;
  transition: all 0.75s;
}
.portfolio__item:hover .text {
  transform: translateY(-30px);
}
.portfolio__content .overlay .text h3 {
  font-size: 22px;
  font-weight: 800;
  color: #fff;
}
.portfolio__content .overlay .text p {
  color: #fff;
  opacity: 0.7;
}
/* end portfolio */

/* start plan */
.plan {
  background-image: url(../img/bg16.png);
  block-size: cover;
  background-position: center;
  text-align: center;
}
.plan__content {
  padding-top: 115px;
}
.plan__content .title__group2 {
  text-align: center;
}
.plan__price {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
  gap: 30px;
}
.plan__content .plan__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.5s;
}
.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}
.plan__content .plan__item h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #262626;
}
.plan__content .plan__item img {
  width: 125px;
}
.plan__content .plan__item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan__content .plan__item span {
  display: inline-block;
  color: #f8ae56;
  font-size: 50px;
  font-weight: 800;
}
.plan__content .plan__item .list {
  text-align: left;
  padding: 15px 0;
  border-top: 1px solid #e1e1f0;
}
.plan__content .plan__item .list li {
  padding: 5px 0;
  list-style: none;
  font-size: 18px;
  font-weight: 400;
  color: #262626;
}
.plan__content .plan__item .list i {
  font-size: 12px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 100%;
  margin-right: 15px;
}
/* end plan */

/*start tetimonial*/
.testimonial {
  text-align: center;
  background-image: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 115px;
}
.testimonial__content {
  min-width: 300px;
}
.testimonial__thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial__thumbs::before {
  content: "";
  width: 30px;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
  height: 100%;
  z-index: 2;
}
.testimonial__thumbs::after {
  content: "";
  width: 30px;
  display: block;
  top: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
  height: 100%;
  z-index: 2;
}
.testimonial__pic {
  transition: all 0.5s;
}
.testimonial__pic::before {
  content: "";
  display: block;
  position: absolute;
  height: 15px;
  width: 15px;
  bottom: 30px;
  background-color: #f55f8d;
  border-radius: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial__pic::after {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: 0;
  background-color: #f55f8d;
  border-radius: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.testimonial__thumbs .testimonial__pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 5px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}
.testimonial__thumbs .shape-bx {
  position: relative;
  height: 35px;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  background-color: #f55f8d;
}
.testimonial__thumbs .shape-bx::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/pattern12.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.testimonial__comment {
  overflow: hidden;
}
.testimonial__comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial__comment .testimonial__intro {
  padding: 30px;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  position: relative;
}
.testimonial__intro i {
  position: absolute;
  display: block;
  top: 10px;
  left: 30px;
  font-size: 70px;
  color: #f55f8d;
  transform: rotate(-180deg);
}
.testimonial__intro .testimonial__name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial__intro .testimonial__position {
  font-size: 15px;
  color: #f55f8d;
  margin-bottom: 20px;
}
.testimonial__intro p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}
.swiper-pagination-bullet-active {
  background-color: #f55f8d;
}
/*end tetimonial*/

/* start blog */
.blog {
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-bottom: 50px;
}
.blog__content {
  padding-top: 115px;
}
.blog__item {
  width: 379.667px;
  margin-right: 30px;
}
.blog__new .item__container {
  text-align: center;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
  margin-right: 10px;
}
.blog__new .picture {
  position: relative;
}
.blog__new .picture img {
  display: block;
  width: 100%;
  border-radius: 8px;
}
.blog__new .picture p {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  font-size: 14px;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.blog__new .content {
  text-align: left;
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-bottom: 20px;
}
.blog__new .content h3 {
  font-size: 24px;
  font-weight: 700;
  color: #262626;
}
.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__footer .status {
  margin-right: 20px;
}
.blog__footer .author span {
  color: #f55f8d;
}
.author i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
.comment i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
/* end blog */
/* start footer */
footer {
  background-image: url(../img/bg4.png);
  display: block;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__content {
  padding-top: 115px;
}
footer .footer__above {
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  display: flex;
  align-items: center;
  transform: translateY(-70%);
}
.footer__above .sub {
  width: 50%;
}
.footer__above .sub h2 {
  font-size: 28px;
  color: #262626;
}
.footer__above .footer__form {
  width: 50%;
}
.footer__above form {
  display: flex;
  border-radius: 8px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__form input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  flex: 1 1 auto;
  border-radius: 8px 0 0 8px;
  border: 1px solid #fff;
  outline: 0;
  transition: all 0.5s;
}
.footer__form input:hover {
  border-color: #f55f8d;
}
.footer__form button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  border-radius: 0 8px 8px 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
.footer__form button:hover {
  background-position: right center;
}
.footer__above .footer__form i {
  transform: rotate(50deg);
}
.footer__under {
  display: flex;
  padding-top: 70px 0;
  position: relative;
  padding-bottom: 70px;
}
.footer__item {
  width: 25%;
}
.footer__item li {
  display: flex;
}
.footer__item a {
  display: flex;
  align-items: center;
}
.footer__item ul li {
  list-style: none;
  padding: 8px 0;
}
.footer__item p {
  transition: all 0.5s;
}
.footer__item a:hover p {
  color: #fff;
}
.footer__item a {
  color: #636363;
  text-decoration: none;
}
.footer__item i {
  font-weight: 700;
  margin-right: 10px;
  transition: all 0.5s;
}
.footer__item a:hover i {
  color: #fff;
}
.footer__item {
  font-size: 16px;
}
.footer__item:nth-of-type(1) i {
  height: 40px;
  width: 40px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  line-height: 40px;
  display: block;
  border-radius: 50%;
}
.footer__item:nth-of-type(1) p {
  font-size: 15px;
}
.footer__item:nth-of-type(1) ul {
  padding-top: 15px;
}
.footer__item h2 {
  font-style: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.footer__item h2::before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 4px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: transparent;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}
.footer__item h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 45px;
  height: 4px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: transparent;
  bottom: 0;
  left: 20px;
  border-radius: 20px;
}
.infor__design {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.infor__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.infor__content .copy span {
  color: #f55f8d;
}
.media a {
  text-decoration: none;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.media a:hover {
  background-color: #f55f8d;
}
.foooter__form button i {
  transition: all 0.3s;
}
.footer__form button:hover i {
  animation: footer-btnAnimate 0.3s;
}
@keyframes footer-btnAnimate {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
/* end footer */
/* back to top */
.backToTop {
  width: 50px;
  height: 50px;
  background-color: #f55f8d;
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 8px;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  box-shadow: 4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 1;
}
